<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <%- include('../partials/flshMessages.ejs') %>
    <% chunk.forEach(col => { %>
        <div class="row mt-3">
            <% col.forEach(event => { %>
                <div class="col-sm-6 col-md-4">
                    <div class="card card-index">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="/images/<%= event.user_avatar %>" class="profile-photo" alt="Profile Image" style="width: 70px; height: 70px; border-radius: 15px;">
                                </div>
                                <div class="col-sm-9">
                                    <h6 class="display-6 card-user-index"><%= event.user_name %></h6>
                                </div>
                            </div>
                            <hr>
                            <h5 class="card-title-index"><%= event.title %></h5>
                            <p class="card-text-index"><%= event.description %></p>
                            <a href="/events/<%= event._id %>" class="btn btn-primary">Show More</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    <% }) %>
    <div class="row">
        <div class="col-12 mt-2 mb-4">
            <nav aria-label="...">
                <ul class="pagination pagination-md justify-content-center">
                    <% for( let i = 1; i <= Math.ceil(count/limit); i++ ) { %>
                        <li class="page-item">
                            <% if (i == page) { %>
                                <span class="page-link active"><%= i %></span>
                            <% } else { %>
                                <a class="page-link" href="/events?page=<%= i %>"><%= i %></a>
                            <% } %>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
